div#home{
    background-image: url(./images/markus-winkler-7iSEHWsxPLw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div h1{
    padding-right: 129px;
}